<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h1>Welcome to My Portfolio</h1>
      <div class="profile-info">
        <div class="profile-item">
          <span class="label">First Name:</span>
          <span class="value">Dhiraj</span>
        </div>
        <div class="profile-item">
          <span class="label">Last Name:</span>
          <span class="value">Pandya</span>
        </div>
        <div class="profile-item">
          <span class="label">Email:</span>
          <span class="value">dhiraj.pandya@somaiya.edu</span>
        </div>
        <div class="profile-item">
          <span class="label">Date of Birth:</span>
          <span class="value">January 10, 2003</span>
        </div>
        <div class="profile-item">
          <span class="label">Age:</span>
          <span class="value">21</span>
        </div>
        <div class="profile-item">
          <span class="label">Student ID:</span>
          <span class="value">2220210277</span>
        </div>
        <div class="profile-item">
          <span class="label">Institute:</span>
          <span class="value">K. J. Somaiya Institute of Technology</span>
        </div>
        <div class="profile-item">
          <span class="label">Class:</span>
          <span class="value">Third Year</span>
        </div>
        <div class="profile-item">
          <span class="label">Division:</span>
          <span class="value">A</span>
        </div>
        <div class="profile-item">
          <span class="label">Semester:</span>
          <span class="value">6</span>
        </div>
        <div class="profile-item">
          <span class="label">Roll Number:</span>
          <span class="value">65</span>
        </div>
        <div class="profile-item">
          <span class="label">Blood Type:</span>
          <span class="value">AB+</span>
        </div>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 Your Name. All rights reserved.</p>
    </footer>
  </body>
</html>
