body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5%;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

h2 {
  margin-top: 0;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #444; /* Dark gray border */
  box-sizing: border-box; /* Include padding and border in width */
}

input:focus {
  outline: none;
  border-color: #666; /* Slightly lighter gray border when focused */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#validationResult {
  margin-top: 20px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .container {
    padding: 10%;
    width: 100%;
  }
}
