/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  min-height: 100vh;
  position: relative;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

p {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.profile-info {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.profile-item {
  margin-right: 20px;
  margin-bottom: 20px;
  flex-basis: calc(
    50% - 20px
  ); /* Adjust the width of each item for responsiveness */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
}

.value {
  color: #666;
}

.portfolio-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 20px;
  margin-bottom: 20px;
  flex-basis: calc(
    50% - 20px
  ); /* Adjust the width of each item for responsiveness */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  border-radius: 8px;
}

.portfolio-item h2 {
  margin-top: 10px;
  color: #333;
}

.portfolio-item p {
  color: #666;
}
